* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;

}

body {
    background: #f9f9f9;
    width: 100vh;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s;
}
.header {
    background: #ffffff;
    width: 100%;
    height: 60px;   
    position: fixed;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}
.bar_i {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}
.bar_i img {
    width: 20px;
}
.you_logo {
     width: auto;
     display: flex;
     align-items: center;
    
}
.you_logo img {
    width: 30px;
    padding: 0px 5px;
    cursor: pointer;
}
h1 {
    font-size: 25px;
    cursor: pointer;
}
.barr_search {
    width: 45%;
    margin: 0px 5px;
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 130px;
}
#input {
    width: 100%;
    padding: 11px 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0.1px solid #423f3f4d;
    outline: none;
    font-size: 16px;

}
.barr_search img {
    width: 20px;
    padding: 10px 12px;
    background: #f9f9f9;
    padding-left: 18px;
    padding-right: 18px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0.01px solid #423f3f4d;
    cursor: pointer;
}
.mic img {
    width: 20px;
    background: #f9f9f9;
    padding: 12px 12px;
    border-radius: 50%;
}
.img_icons {
    width: auto;
    height: 60px;
    margin: 0px 20px 0px 230px;
    display: flex;
    align-items: center;
}
.img_icons img {
    width: 20px;
    margin: 0px 10px;
}